<!--
	==============================================================
	EXT:nnfelogin/Resources/Private/Partials/EmailFooter.html	
-->

<p>
	Diesen Footer überschreiben per TypoScript<br />
	plugin.tx_nnfelogin.view.partialRootPaths.5 = ...
</p>

<table class="footer">
	<tr>
		<td class="col col-0">
			<p>
				<b>Adresse</b><br />
				Beispiel-Strasse 12<br />
				65189 Demostadt
			</p>			
		</td>
		<td class="col col-1">
			<p>
				<b>Links</b><br />
				Impressum<br />
				Datenschutz
			</p>
		</td>
		<td class="col col-2">
			<p>			
				Tel.: 0611 - 40 80 919<br />
				Fax: 0611 - 40 80 920<br />
				<a href="mailto:info@99grad.de">info@99grad.de</a>
			</p>
		</td>
		
	</tr>
</table>
