<!--
	===================================================================
	EXT:nnfelogin/Resources/Private/Layouts/Email.html
-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body>

        <!-- Outlook wants CSS inside the body-Tag! -->

        <style>
            <f:render partial="EmailStyleSheet" />
        </style>

        <table class="center-box">
            <tr class="page-top-border"><td></td></tr>
            
            <tr><td class="center-box-td">
            <table class="main">
                <tr>
                    <td>
                        <f:render partial="EmailLogo" />
                    </td>
                </tr>
                
                <tr>			
                    <td class="main-col-1">
                        <f:render section="content" />
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="footer-box">
                            <f:render partial="EmailFooter" />
                        </div>
                    </td>
                </tr>		
            </table>
            
        </td></tr></table>

    </body>
</html>