
<f:layout name="Email" />

<f:section name="content">

	<!--
		==========================================================================
		EXT:nnfelogin/Resources/Private/Templates/Default/EmailResetPassword.html	
		Diese Mail wird an den User versendet, wenn er sein Passwort vergessen hat
	-->

	{nnt3:contentElement(uid:settings.ce.mailtext, data:_all)->f:variable(name:'text')}

	<f:if condition="{text}">
		<f:then>{text->f:format.raw()}</f:then>
		<f:else>
			<h1 class="big">Passwort zurücksetzen</h1>
			<p>Hallo <b>{feUser.first_name} {feUser.last_name}</b>,</p>
			<p>Sie erhalten diese Mail von der Webseite {baseUrl}, weil Sie das Formular zum Zurücksetzen des Passwortes ausgefüllt haben.</p>
			<p>Um das Passwort zu ändern, klicken Sie bitte auf "Passwort ändern".</p>
			<p>Bitte beachten Sie, dass der Link nur für wenige Stunden gültig ist.</p>
							
			<div class="action">
				<f:link.page absolute="1" additionalParams="{linkParams}" noCacheHash="1">Passwort ändern</f:link.page>
			</div>
			
			<p>Sollte der Link sich nicht öffnen lassen, kopieren Sie bitte diesen Link in die Adresszeile Ihres Browsers:</p>
			<pre>
				{f:uri.page(absolute:'1',additionalParams:'{linkParams}',noCacheHash:1)}
			</pre>
		</f:else>
	</f:if>

</f:section>
