<!--
	==========================================================================
	EXT:nnfelogin/Resources/Private/Templates/Default/ShowChangePasswordForm.html
-->

<f:flashMessages />

<div id="nnfelogin-{uniqueId}" class="nnfelogin login">

	<f:if condition="{mode}=='password_changed'">
		<h1>Passwort geändert.</h1>
		<p>Ihr Passwort wurde erfolgreich geändert.</p>
	</f:if>
	
	<f:if condition="{mode}=='change_pwform'">
	
			<f:form method="post" controller="Main" action="showLoginForm" fieldNamePrefix="{_GPprefix}" noCache="1">
				
				<div class="maxw-400">
										
					<f:if condition="{feUser}">
						<f:then>
						
							<f:form.hidden name="update_pw" value="1" />
							<f:form.hidden name="encryptionKey" value="{encryptionKey}" />
							
							<h1>Passwort ändern</h1>
	
							<f:if condition="{errors.pw}">
								<div class="alert alert-danger">
									Das alte Passwort ist nicht korrekt.
								</div>
							</f:if>

							<f:if condition="{errors.new_pw}{errors.new_pw_not_identical}">
								<div class="alert alert-danger">
									Das neue Passwort ist nicht korrekt oder die Passwort-Wiederholung stimmt nicht.
								</div>
							</f:if>
							
							<f:if condition="{errors.pw_too_short}">
								<div class="alert alert-danger">
									Das neue Passwort ist zu kurz. Es sollte mindestens 5 Zeichen lang sein.
								</div>
							</f:if>
							
							
							<div class="input-group field mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fal fa-unlock-alt"></i></span>
								</div>
								<f:form.password additionalAttributes="{placeholder:'Aktuelles Passwort'}" class="form-control" name="pw" value="" data="{encrypt:1}" />
							</div>
							
							<div class="input-group field field mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fal fa-unlock-alt"></i></span>
								</div>
								<f:form.password additionalAttributes="{autocomplete:'off', placeholder:'Neues Passwort'}" class="form-control" name="new_pw" value="" data="{encrypt:1}" />
							</div>
							
							<div class="input-group field field mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fal fa-unlock-alt"></i></span>
								</div>
								<f:form.password additionalAttributes="{autocomplete:'off', placeholder:'Neues Passwort wiederholen'}" class="form-control" name="new_pw_repeat" value="" data="{encrypt:1}" />
							</div>
							
							<div class="field field mb-5 text-right">
								<input type="submit" name="submit" class="btn btn-primary" value="Passwort ändern">
							</div>
							
						</f:then>
						
						<f:else>
						
							<h1>Sie sind nicht angemeldet.</h1>
							
						</f:else>
						
					</f:if>
				</div>
				
			</f:form>
				
	</f:if>

</div>