<!--
	==========================================================================
	EXT:nnfelogin/Resources/Private/Templates/Default/ShowLoginForm.html
-->

<nnt3:flashMessages />

<div id="nnfelogin-{uniqueId}" class="nnfelogin login">
	<f:form method="post" controller="Main" action="showLoginForm" fieldNamePrefix="{_GPprefix}" noCache="1">
		
		<div class="maxw-400">
		
			<f:if condition="{feUser}">
				<f:then>
					<hr class="mt-20 pb-5"/>

					<h2 class="mb-5">Sie sind angemeldet.</h2>
					<p>
						Eingeloggt als {f:if(condition:feUser.name, then:feUser.name, else:feUser.username)}
					</p>

					<div class="d-flex">
						<f:form.hidden name="logout" value="1" />
						<div>
							<input type="submit" name="submit" class="btn btn-primary" value="Abmelden" />
						</div>
						<f:if condition="{settings.loginRedirectPid}">
							<div class="col-sm-6">
								<f:link.page pageUid="{settings.loginRedirectPid}" class="btn btn-secondary">
									Zum Mitgliederbereich
								</f:link.page>
							</div>
						</f:if>
					</div>
					
				</f:then>
				<f:else>
				
					<f:form.hidden name="validate" value="1" />
					<input type="hidden" name="logintype" value="login" />
					<input type="hidden" name="nnfelogin[uid]" value="{cObjData.uid}" />

					<f:if condition="{_GP.redirect_url}">
						<f:form.hidden name="redirect_url" value="{f:uri.page(pageUid:'{_GP.redirect_url}')}" />
					</f:if>

					<h2 class="mb-5">
						Login für registrierte Mitglieder
					</h2>

						
					<f:if condition="{errors}">
						<div class="text-center">
							<f:if condition="{errors.errorCode} == '-1'">
								<div class="alert alert-danger">Benutzer konnte nicht eindeutig zugeordnet werden. Versuchen Sie es alternativ mit Ihrer E-Mail, Kunden-Nummer oder Ihrem Benutzernamen.</div>
							</f:if>
							<f:if condition="{errors.encryptionKey}">
								<div class="alert alert-danger">Ungültiger Schlüssel. Bitte versuchen Sie es noch einmal.</div>
							</f:if>
							<f:if condition="{errors.pw}">
								<div class="alert alert-danger">Username oder Passwort nicht gültig.</div>
							</f:if>
							<f:if condition="{errors.noGroup}">
								<div class="alert alert-danger">Benutzer ist keiner Benutzer-Gruppe zugeordnet.</div>
							</f:if>
						</div>
					</f:if>

					<div class="input-group mb-3 {f:if(condition:'{errors.pw}',then:' error')}">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fal fa-user"></i></span>
						</div>
						<f:form.textfield additionalAttributes="{placeholder:'E-Mail oder Mitgliedsnummer'}" class="form-control" name="email" value="{_GP.email->f:format.stripTags()}" data="{encrypt:1}"/>
					</div>
					
					<div class="input-group mb-5 {f:if(condition:'{errors.pw}',then:' error')}">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fal fa-unlock-alt"></i></span>
						</div>
						<f:form.password additionalAttributes="{placeholder:'Passwort', autocomplete:'off'}" class="form-control" name="pw" value="" data="{encrypt:1}" />
					</div>
					
					<div class="form-group d-flex">
						<div class="flex-grow-1">
							<f:link.page class="small" pageUid="{settings.forgotPasswordPid}">
								Sie haben Ihr Passwort vergessen?
							</f:link.page>
						</div>
						<div class="">
							<input type="submit" name="submit" class="btn btn-primary" value="Anmelden">
						</div>
					</div>						
					
				</f:else>
				
			</f:if>

		</div>
		
	</f:form>
</div>