<!--
	==========================================================================
	EXT:nnfelogin/Resources/Private/Templates/Default/ShowForgotPasswordForm.html
-->

<div id="nnfelogin-{uniqueId}" class="nnfelogin nnfelogin-forgotpw">
	<f:form method="post" controller="Form" fieldNamePrefix="{_GPprefix}" action="forgotPasswordForm" class="fce-col-form" noCache="1">
		
		<f:form.hidden name="validate" value="1" />
			
		<f:if condition="{mode}=='form'">
			
			{nnt3:contentElement(uid:settings.ce.resetPassword, data:_all)->f:variable(name:'text')}
			<f:if condition="{text}">
				<f:then>{text->f:format.raw()}</f:then>
				<f:else>
					<h2>Passwort vergessen?</h2>
					<p class="mb-5">
						Sie können Ihr Passwort nicht mehr finden oder möchten sich erstmalig eines erstellen? 
						Geben Sie bitte Ihre Mitgliedsnummer oder E-Mail-Adresse ein, mit der Sie bei uns 
						geführt werden. Sie erhalten danach eine Mail mit weiteren Anweisungen um Ihr Passwort zu ändern.
					</p>
				</f:else>
			</f:if>

			<f:if condition="{errors.email}">
				<div class="alert alert-danger">Es wurde kein Benutzer mit dieser E-Mail gefunden.<br/>Bitte prüfen Sie Ihre Eingabe.</div>
			</f:if>
			
			<div class="maxw-400">
				<div class="input-group mb-3 {f:if(condition:'{errors.email}',then:' error')}">		
					<div class="input-group-prepend">
						<span class="input-group-text"><i class="fal fa-user"></i></span>
					</div>			
					<f:form.textfield placeholder="E-Mail oder Mitglieds-Nr." name="email" class="form-control" value="{data.email->f:format.stripTags()}" />
				</div>
				
				<div class="form-group text-right">
					<input type="submit" name="submit" class="btn btn-primary" value="Weiter" />
				</div>

			</div>
			
		</f:if>

		
		<f:if condition="{mode}=='mailsent'">
			{nnt3:contentElement(uid:settings.ce.mailsent, data:_all)->f:variable(name:'text')}
			<f:if condition="{text}">
				<f:then>{text->f:format.raw()}</f:then>
				<f:else>
					<h2>Bitte prüfen Sie Ihr Postfach</h2>
					<p>
						Wir haben eine Mail an {_GP.email} gesendet.<br/>
						Bitte folgen Sie der Anleitung in der Mail, um Ihr Passwort zurückzusetzen.
					</p>
				</f:else>
			</f:if>
		</f:if>


		<f:if condition="{mode}=='pwform'">
			{nnt3:contentElement(uid:settings.ce.enterNewPassword, data:_all)->f:variable(name:'text')}
			<f:if condition="{text}">
				<f:then>{text->f:format.raw()}</f:then>
				<f:else>
					<h2>Neues Passwort erstellen</h2>
					<p class="mb-5">
						Bitte geben Sie ein neues Passwort ein und bestätigen Sie das Passwort.
					</p>
				</f:else>
			</f:if>
			
			<f:if condition="{errors.pw}">
				<p class="alert alert-danger mb-5">
					Das Passwort stimmt nicht mit der Passwort-Wiederholung überein.
				</p>
			</f:if>
			<f:if condition="{errors.pw_too_short}">
				<p class="alert alert-danger mb-5">
					Das Passwort ist zu kurz. Es sollte mindestens aus 6 Zeichen bestehen.
				</p>
			</f:if>
			
			
			<div class="maxw-400">
				<f:form.hidden name="changepw" value="1" />
				<f:form.hidden name="user" value="{user}" />
				<f:form.hidden name="forgothash" value="{forgothash}" />
				<f:form.hidden name="encryptionKey" value="{encryptionKey}" />

				<div class="input-group mb-3 {f:if(condition:'{errors.pw}',then:'error')}">
					<div class="input-group-prepend">
						<span class="input-group-text"><i class="fal fa-user"></i></span>
					</div>
					<f:form.password additionalAttributes="{placeholder:'Neues Passwort'}" name="pw" class="form-control" value="" data="{encrypt:1}" />
				</div>

				<div class="input-group mb-3 {f:if(condition:'{errors.pw}',then:'error')}">
					<div class="input-group-prepend">
						<span class="input-group-text"><i class="fal fa-user"></i></span>
					</div>
					<f:form.password additionalAttributes="{placeholder:'Neues Passwort wiederholen'}" class="form-control" name="pw_confirm" value="" data="{encrypt:1}" />
				</div>

				<div class="form-group text-right">
					<input type="submit" class="btn btn-primary" value="Passwort ändern">					
				</div>
			</div>
		</f:if>
		
		
		<f:if condition="{mode}=='pwchanged'">

			{nnt3:contentElement(uid:settings.ce.pwChanged, data:_all)->f:variable(name:'text')}
			<f:if condition="{text}">
				<f:then>{text->f:format.raw()}</f:then>
				<f:else>
					<h2>Passwort geändert</h2>
					<p>
						Ihr Passwort wurde erfolgreich geändert.<br/>
						Bitte loggen Sie sich ab sofort mit Ihrem neuen Passwort ein.
					</p>
				</f:else>
			</f:if>

		</f:if>

	</f:form>
</div>